@media (max-width: 600px) {
  .project-title {
    font-size: 1rem; 
    top:2vw;
  }
}

@media (max-width: 600px) {
  .box {
    display: none;
  }
}




.project:hover {
  transform: translateY(-5px) scale(1.05);
}

#socials img:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease;
  
}



*{
  font-family:  monospace;

}


body{
  background:linear-gradient(#1f1c4b,#3e2a3a );
  background-attachment:fixed;
  min-height:100%;
  color:#d8d5f5;
}

#switchpic{
  height:3.5vw;
  width:3.5vw;
  
}
#lightswitch{
  color: transparent;
  border: none;
  background-color: transparent;
}


nav{
  display:flex;
  padding-top:8px;
  padding-left:10px;
  padding-right:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:6%;
  justify-content:space-evenly;
  background:linear-gradient(#1f1c4b,#221E46);
  padding-bottom:.8vw;

}

#navbar a{
  margin-top:1vw;
  font-size:1.6vw;
  color:#d8d5f5;
  text-decoration: none;
}



h1{
  margin-top:5vw;
  font-size:3.7vw;
  text-align:center;
}

h3{
  margin-top: 0vw;
  font-size:3.4vw;
  text-align:center;
}

.socialtitle{
  margin-top: 0vw;
  margin-bottom: 1vw;
  font-size:2.7vw;
  text-align:center;
}

.pfp{
  display:block;
  width:15vw;
  height:15vw;
  background-color:white;
  margin:auto;
  margin-top:-1vw;
  border-radius:50%;
  z-index:10;
  border:3px solid rgba(0,0,0,.6);
}

p{
  font-size:1.8vw;
  padding-left:8vw;
  padding-right:8vw;
  text-align:center;
  margin-bottom: 3vw;
}

#myprojects{
  font-size:3.5vw;
  text-align:center;
  margin-top: 1.5vw;
  margin-bottom: 1.9vw;
}



#socials{
  display:flex;
  justify-content:space-evenly;
}

.pict{
  width:23vw;
  height:26vw;
  margin:auto;
  border-radius: 3%;
  border:1px solid rgba(0,0,0,.4);
}

.social{
  width: 5vw;
  height: 5vw;
  margin-bottom: 1vw;
  margin-top: 0vw;
}

#projects{
  display:flex;
  justify-content:space-evenly;
  margin-bottom: 2vw;
  padding-top: 1vw;
  padding-bottom: .8vw;
}

.project{
  position:relative;
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  display: inline-block;
  padding-bottom: 0vw;
}




.project-title{
  position:absolute;
  top: 20vw;
  left: 11.2vw;
  color:#b9b9b9;
  transform: translate(-50%, -50%);
  z-index: 1;
}

h2{
  margin-top: 2.5vw;
  margin-bottom: .9vw;
}

.box{
  width: 97vw;
  height: 28vw;
  background-color: rgba(190,190,190,.3);
  position:absolute;
  border-radius: 12px;
  top:97.9vw;
  left: 1.07vw;
}
